
<!--{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    

<!-- This will render in place of the {{{ body }}} tag in main.handlebars -->
<header class="jumbotron">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="heading text-white">
      <h1>Quiz Master Max</h1>
      <p class="subheading text-center">A quiz app for developing developers</p>
    </div>

  </div>
</header>

<div class="container fade-in-2 mt-5 d-flex justify-content-center">
  <div class="col-md-6">
    <!-- Code options to take a quiz (choose category and difficulty) or view quizzes taken and scores -->
  </div>

{{/each}}

</div>

