<!-- This code should iterate over and display each question and their answers -->
<div class="container fade-in-2 mt-5 d-flex justify-content-center">
  <div class="col-md-6">
<!-- For each question, the quiz-details partial is used to render the question data -->
{{#each questions as |question|}}
{{> quiz-details}}
{{/each}}
  </div>
</div>